
.DS_Store
CIFAR-10-images/test/test_batch
CIFAR-10-images/train/data_batch_1
CIFAR-10-images/train/data_batch_2
CIFAR-10-images/train/data_batch_3
CIFAR-10-images/train/data_batch_4
CIFAR-10-images/train/data_batch_5
Notebooks/CIFAR-10-images/test/cifar-10-batches-py/batches.meta
Notebooks/CIFAR-10-images/test/cifar-10-batches-py/data_batch_1
Notebooks/CIFAR-10-images/test/cifar-10-batches-py/data_batch_2
Notebooks/CIFAR-10-images/test/cifar-10-batches-py/data_batch_3
Notebooks/CIFAR-10-images/test/cifar-10-batches-py/data_batch_4
Notebooks/CIFAR-10-images/test/cifar-10-batches-py/data_batch_5
Notebooks/CIFAR-10-images/test/cifar-10-batches-py/readme.html
Notebooks/CIFAR-10-images/test/cifar-10-batches-py/test_batch
Notebooks/CIFAR-10-images/test/cifar-10-python.tar.gz
Notebooks/CIFAR-10-images/train/cifar-10-batches-py/batches.meta
Notebooks/CIFAR-10-images/train/cifar-10-batches-py/data_batch_1
Notebooks/CIFAR-10-images/train/cifar-10-batches-py/data_batch_2
Notebooks/CIFAR-10-images/train/cifar-10-batches-py/data_batch_3
Notebooks/CIFAR-10-images/train/cifar-10-batches-py/data_batch_4
Notebooks/CIFAR-10-images/train/cifar-10-batches-py/data_batch_5
Notebooks/CIFAR-10-images/train/cifar-10-batches-py/readme.html
Notebooks/CIFAR-10-images/train/cifar-10-batches-py/test_batch
Notebooks/CIFAR-10-images/train/cifar-10-python.tar.gz
test/cifar-10-batches-py/batches.meta
test/cifar-10-batches-py/data_batch_1
test/cifar-10-batches-py/data_batch_2
test/cifar-10-batches-py/data_batch_3
test/cifar-10-batches-py/data_batch_4
test/cifar-10-batches-py/data_batch_5
test/cifar-10-batches-py/readme.html
test/cifar-10-batches-py/test_batch
test/cifar-10-python.tar.gz
train/cifar-10-batches-py/batches.meta
train/cifar-10-batches-py/data_batch_1
train/cifar-10-batches-py/data_batch_2
train/cifar-10-batches-py/data_batch_3
train/cifar-10-batches-py/data_batch_4
train/cifar-10-batches-py/data_batch_5
train/cifar-10-batches-py/readme.html
train/cifar-10-batches-py/test_batch
train/cifar-10-python.tar.gz
